.btn {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: var(--br-1);
  font-size: var(--fs-600);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-active-1);
  color: white;
  background-position: center;
  transition: background 0.8s;
}

/* Ripple effect */

.btn:hover {
  background: var(--clr-active-1)
    radial-gradient(circle, transparent 1%, var(--clr-active-1) 1%)
    center/15000%;
}
.btn:active {
  background-color: var(--clr-active-2);
  background-size: 100%;
  transition: background 0s;
}
