.trending {
  background-image: linear-gradient(
      to right,
      rgba(13, 17, 23, 1),
      rgba(13, 17, 23, 0.95),
      rgba(13, 17, 23, 0.8)
    ),
    url('../../assets/riftbreaker.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trendingInfo {
  max-width: 32rem;
  margin: var(--gap-1) 0;
}
