.filter {
  margin-bottom: var(--gap-5);
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 18rem;
}

.input {
  color: var(--foreground-1);
  background-color: var(--background-2);
}

.cta {
  padding: 1rem;
  background-color: var(--background-2);
  border: none;
  outline: none;
  border-radius: var(--br-2);
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  text-transform: capitalize;
}

.icon {
  font-size: 1.5rem;
}

.genres {
  position: absolute;
  background-color: var(--background-2);
  width: 100%;
  border-bottom-left-radius: var(--br-2);
  border-bottom-right-radius: var(--br-2);
  z-index: -1;
  top: 3rem;
  padding-top: 1rem;
}

.genre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
}

.genre svg {
  font-size: 1.3rem;
}
