.nav {
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  gap: 1rem;
  align-items: center;
  background-color: var(--background-1);
}

.partition {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container {
  width: 100%;
  box-shadow: var(--boxshadow-1);
  background: var(--background-1);
}

.logo {
  font-size: 1.4rem;
}

.wrapper {
  position: sticky;
  top: 0;
  z-index: var(--zindex-nav);
}
