.title {
  font-weight: 500;
}

.image {
  margin-block: var(--gap-3);
  height: 12rem;
  position: relative;
  border-radius: var(--br-2);
  overflow: hidden;
  background-color: var(--background-2);
}

.platforms {
  margin-top: var(--gap-1);
  line-height: var(--gap-1);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  opacity: 0.5;
}

.desc {
  line-height: 1.7rem;
  white-space: pre-line;
}

.heading {
  margin-bottom: var(--gap-2);
  font-weight: 500;
}

@media only screen and (min-width: 500px) {
  .image {
    height: 28rem;
  }
}
