.cta {
  display: flex;
  font-size: 1.6rem;
  padding: 0.67rem;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: var(--boxshadow-1);
  border-radius: var(--br-1);
  cursor: pointer;
}

.search {
  position: fixed;
  top: 4.5rem;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--background-1);
  box-shadow: var(--boxshadow-1);
  z-index: -1;
}

.searchTerm {
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
}

.loading {
  animation: 1s loading infinite linear;
  color: var(--clr-active-1);
}

.input {
  border: none;
  outline: none;
  padding: 1rem;
  background-color: var(--background-2);
  border-radius: var(--br-2);
  width: 100%;
  color: var(--foreground-1);
  transition: 0.3s;
}

.input:hover {
  background-color: var(--background-4);
}

.input:focus {
  background-color: var(--background-4);
}

.input::placeholder {
  color: var(--foreground-2);
}

.result {
  margin-top: 0.4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--clr-active-1);
}

.error {
  margin-top: var(--gap-1);
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
