.cta {
  display: flex;
  font-size: 1.6rem;
  padding: 0.67rem;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: var(--boxshadow-1);
  border-radius: var(--br-1);
  cursor: pointer;
}

.search {
  position: fixed;
  top: 4.5rem;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--background-1);
  box-shadow: var(--boxshadow-1);
  z-index: -1;
}

.input {
  border: none;
  outline: none;
  padding: 1rem;
  background-color: var(--background-2);
  border-radius: var(--br-2);
  width: 100%;
  color: var(--foreground-1);
  transition: 0.3s;
}

.input:hover {
  background-color: var(--background-4);
}

.input:focus {
  background-color: var(--background-4);
}

.input::placeholder {
  color: var(--foreground-2);
}
