.image {
  border-radius: var(--br-2);
  height: 10rem;
  object-fit: cover;
  width: 100%;
  margin-bottom: 0.5rem;
}

.title {
  display: block;
  font-weight: 500;
}

.card {
  border-radius: var(--br-2);
}
