.cta {
  display: flex;
  box-shadow: var(--boxshadow-1);
  border-radius: var(--br-1);
}

.menu {
  position: absolute;
  top: 4.655rem;
  left: 0;
  right: 0;
  z-index: -1;
  padding-block: 2rem;
  background-color: var(--background-2);
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 1rem;
}

.container {
  height: 100%;
}
